fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-multipart
pypdf
python-docx
openpyxl
xlrd
alembic
langchain==0.3.27
langchain-text-splitters==0.3.9
qdrant-client
langchain-openai
openai
mcp[cli]
